<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo2.svg" alt="">
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <!-- <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5> -->
                <button type="button" class="btn-close justify-content-end" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body justify-content-between">
                <div class="col-12 col-md-6 col-lg-4">
                    <ul class="navbar-nav  justify-content-start">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Features
                            </a>
                            <ul class="dropdown-menu border-0 shadow ">
                                <li><a class="dropdown-item d-flex align-items-center  justify-content-start" href="#">
                                        <img src="./images/icon-todo.svg" class="me-3" alt="">
                                        Todo List
                                    </a></li>
                                <li><a class="dropdown-item d-flex align-items-center justify-content-start" href="#">
                                        <img src="./images/icon-calendar.svg" class="me-3" alt="">
                                        Calender
                                    </a></li>
                                <li><a class="dropdown-item d-flex align-items-center  justify-content-start" href="#">
                                        <img src="./images/icon-reminders.svg" class="me-3" alt="">
                                        Reminders
                                    </a></li>
                                <li><a class="dropdown-item d-flex align-items-center  justify-content-start" href="#">
                                        <img src="./images/icon-planning.svg" class="me-3" alt="">
                                        Planning
                                    </a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Company
                            </a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a class="dropdown-item d-flex align-items-center" href="#">
                                        History
                                    </a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#">
                                        Our Team
                                    </a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#">
                                        Blog
                                    </a></li>
                            </ul>
                        </li>
                        <li class="nav-item mt-3 mt-md-0 align-items-md-center">
                            <a class="nav-link active" aria-current="page" href="#">Careers</a>
                        </li>
                        <li class="nav-item mt-3 mt-md-0 align-items-md-center">
                            <a href="#" class="nav-link active">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 d-md-inline-flex justify-content-end">
                    <div class="text-center mt-2 mt-md-0">
                        <button class="btn border-0">Login</button>
                    </div>
                    <div class="text-center mt-2 mt-md-0 ">
                        <button class="btn px-5 btn-outline-dark">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>